.app-container {
  background-color: #eef4f7;
  min-height: 100vh;
  max-width: 100%;
  padding: 30px;
}

@media screen and (max-width: 767px) {
  .app-container {
    width: 100%;
  }
}

.main-heading {
  font-family: 'roboto';
  font-weight: bold;
  color: #334155;
  font-size: 30px;
  text-align: center;
}

.line {
  width: 10%;
  background-color: #52bbf0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.unordered-list-container {
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
}
